<div class="row">
  <div class="col-lg-6 mb-4">
    <app-assistent
      [formAssistent]="assistent"
      [formIllustration]="illustration"
      [formAssistentOptions]="assistentOptions">
    </app-assistent>
  </div>
  <div class="col-lg-6 mb-4">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">{{formTitle}}</h6>
      </div>
      <div class="card-body with-padding">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="account">
          <div class="form-group">
            <label for="accountUsername">Používaľské meno</label>
            <input
              formControlName="userName"
              type="text"
              class="form-control"
              id="accountUsername"
              placeholder="Zadajte používaľské meno">
          </div>
          <div class="form-group">
            <label for="accountEmail">Emailová adresa</label>
            <input
              formControlName="email"
              type="email"
              class="form-control"
              id="accountEmail"
              placeholder="Zadajte emailová adresu">
          </div>
          <div class="form-group">
            <label for="accountPassword">Heslo používateľského konta</label>
            <input
              formControlName="password"
              type="password"
              class="form-control"
              id="accountPassword"
              placeholder="Zadajte heslo">
          </div>
          <div class="form-group">
            <label for="accountConfirmPassword">Potvrdte heslo používateľského konta</label>
            <input
              formControlName="confirmPassword"
              type="password"
              class="form-control"
              id="accountConfirmPassword"
              placeholder="Zadajte heslo ešte raz">
          </div>
          <div formArrayName="accountRoles">
            <div *ngFor="let control of formGroup.get('accountRoles')['controls']; let i = index">
              <div [formGroupName]="i">
                <div formGroupName="roles">
                  <div class="form-group">
                    <label for="accountRoleId">Roli používateľa</label>
                    <div class="form-wrapper">
                      <select
                        [ngClass]="{'form-wrapper-width': !(formGroup.get('accountRoles')['controls'].length - 1 == i)}"
                        formControlName="roleId"
                        id="accountRoleId"
                        class="form-control">
                        <option value="-1" disabled hidden>Zvoľte si rolu</option>
                        <option
                          *ngFor="let role of roles; let i = index"
                          [ngValue]="role.roleId">{{role.name}}
                        </option>
                      </select>
                      <div
                        class="role-control"
                        *ngIf="formGroup.get('accountRoles')['controls'].length - 1 == i">
                        <button
                          class="role-add"
                          (click)="onAddRole()">
                          <i class="fas fa-plus-circle"></i>
                        </button>
                        <button
                          class="role-remove"
                          *ngIf="formGroup.get('accountRoles')['controls'].length > 1"
                          (click)="onRemoveRole()">
                          <i class="fas fa-minus-circle"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button
            appButtonHover
            type="submit"
            class="btn btn-primary">{{formButton}}
          </button>
          <a routerLink="/dashboard/services/accounts/main" class="btn btn-secondary"
             [state]="{ignoreLoadingBar: true}">Zrušiť a späť</a>
        </form>
        <br>
      </div>
    </div>
  </div>
</div>
<app-modal
  (modalResult)="canDeactivate($event)"
  [modalId]="'accountFormModal'"
  [modalTitle]="title"
  [modalText]="text"
  [modalNegativeButton]="negativeButton"
  [modalPozitiveButton]="pozitiveButton"></app-modal>
