<div class="sidebar-heading">
  {{group}}
</div>
<li
  *ngFor="let details of details; let i = index"
  routerLinkActive="active"
  [routerLinkActiveOptions]="{exact: true}"
  class="nav-item">
  <a
    class="nav-link collapsed"
    [href]="details.route.main"
    data-toggle="collapse"
    [attr.data-target]="'#' + details.title.replace(' ', '')"
    aria-expanded="true"
    [attr.aria-controls]="details.title.replace(' ', '')">
    <i [class]="details.icon"></i>
    <span>{{details.title}}</span>
  </a>
  <div
    *ngIf="details.route.sub.length !== 0"
    [id]="details.title.replace(' ', '')"
    class="collapse"
    [attr.aria-labelledby]="details.title.replace(' ', '')"
    data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
      <h6 class="collapse-header">Možnosti:</h6>
      <a *ngFor="let detail of details.route.sub; let i = index" class="collapse-item" [routerLink]="detail.route.main">{{detail.title}}</a>
    </div>
  </div>
</li>
<hr class="sidebar-divider">
