<div class="row">
  <div class="col-lg-6 mb-4">
    <app-assistent
      [formAssistent]="assistent"
      [formIllustration]="illustration"
      [formAssistentOptions]="assistentOptions">
    </app-assistent>
  </div>
  <div class="col-lg-6 mb-4">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">{{formTitle}}</h6>
      </div>
      <div class="card-body with-padding">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="region">
          <div class="form-group">
            <label for="regionName">Názov kraja</label>
            <input
              formControlName="name"
              type="text"
              class="form-control"
              id="regionName"
              placeholder="Zadajte názov kraja">
          </div>
          <div class="form-group">
            <label for="regionShortCut">Iniciály kraj</label>
            <input
              formControlName="shortcut"
              type="text"
              class="form-control"
              id="regionShortCut"
              placeholder="Zadajte iniciály kraj"
              aria-describedby="regionShortCutHelp">
            <small id="regionShortCutHelp" class="form-text text-muted">Podľa ISO 3166-2:SK</small>
          </div>
          <div class="form-group">
            <input
              formControlName="use"
              type="hidden"
              class="form-control">
          </div>
          <button
            [disabled]="!formGroup.get('name').valid || !formGroup.get('shortcut').valid"
            appButtonHover
            type="submit"
            class="btn btn-primary">{{formButton}}
          </button>
          <a routerLink="/dashboard/services/places/regions" class="btn btn-secondary"
             [state]="{ignoreLoadingBar: true}">Zrušiť a späť</a>
        </form>
      </div>
    </div>
  </div>
</div>
<app-modal
  (modalResult)="canDeactivate($event)"
  [modalId]="'regionFormModal'"
  [modalTitle]="title"
  [modalText]="text"
  [modalNegativeButton]="negativeButton"
  [modalPozitiveButton]="pozitiveButton"></app-modal>
