<div class="card mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <ng2-smart-table
        class="table table-bordered"
        width="100%"
        cellspacing="0"
        (createConfirm)="onCreateConfirm($event)"
        (deleteConfirm)="onDeleteConfirm($event)"
        (editConfirm)="onSaveConfirm($event)"
        [settings]="settings"
        [source]="data">
      </ng2-smart-table>
    </div>
  </div>
</div>
