<div class="row">
  <div class="col-lg-12">
    <div class="p-5">
      <div class="text-center">
        <img src="assets/img/default-logo-blue.png" title="Company logo" alt="Company logo" class="logo-primary">
        <p class="mb-4">Manažujte všetko na jednom mieste!</p>
      </div>
      <ng-content></ng-content>
      <app-auth></app-auth>
      <hr>
      <div class="text-center">
        <a appLinkHover class="small" routerLink="/auth/forget-password">Zabudli ste heslo?</a>
      </div>
    </div>
  </div>
</div>
