<app-dashboard>
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Ovládací panel</h1>
  </div>

  <div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
      <app-tile
        [tileTitle]="'Earnings (Monthly)'"
        [tileText]="'$40,000'">
        <div class="col-auto">
          <i class="fas fa-calendar fa-2x text-gray-300"></i>
        </div>
      </app-tile>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <app-tile
        [tileTitle]="'Earnings (Annual)'"
        [tileText]="'$215,000'">
        <div class="col-auto">
          <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
        </div>
      </app-tile>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <app-tile
        [tileTitle]="'Tasks'"
        [tileText]="'50%'">
        <div class="col">
          <div class="progress progress-sm mr-2">
            <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50"
                 aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </app-tile>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <app-tile
        [tileTitle]="'Pending Requests'"
        [tileText]="'18'">
        <div class="col-auto">
          <i class="fas fa-comments fa-2x text-gray-300"></i>
        </div>
      </app-tile>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 mb-4">
      <app-illustration></app-illustration>
    </div>
    <div class="col-lg-6 mb-4">
      <app-explanation></app-explanation>
      <div class="row">
        <div class="col-lg-6 mb-4">
          <app-link
            [linkText]="'#4e73df'"
            [linkTitle]="'Primary'">
          </app-link>
        </div>
        <div class="col-lg-6 mb-4">
          <app-link
            [linkText]="'#1cc88a'"
            [linkTitle]="'Success'">
          </app-link>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <app-summary></app-summary>
    </div>
  </div>
</app-dashboard>
