<app-dashboard>
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Ovládací panel</h1>
  </div>

  <div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
      <app-tile
        [tileTitle]="'Počet používateľov'"
        [tileText]="userCount">
        <div class="col-auto">
          <i class="fas fa-user-friends fa-2x text-gray-300"></i>
        </div>
      </app-tile>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <app-tile
        [tileTitle]="'Počet balíkov'"
        [tileText]="parcelCount">
        <div class="col-auto">
          <i class="fas fa-box-open fa-2x text-gray-300"></i>
        </div>
      </app-tile>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <app-tile
        [tileTitle]="'Počet kuriérov'"
        [tileText]="courierCount">
        <div class="col-auto">
          <i class="fas fa-shipping-fast fa-2x text-gray-300"></i>
        </div>
      </app-tile>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <app-tile
        [tileTitle]="'Aktualný profit za jeden balík'"
        [tileText]="companyProfit">
        <div class="col-auto">
          <i class="fas fa-euro-sign fa-2x text-gray-300"></i>
        </div>
      </app-tile>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 mb-4">
      <app-illustration
        [illustrationText]="'Som Váš osobný asistent. Som tu aby som pomohol a vysvetloval. Nájdete ma po celej aplikácie.'"
        [illustrationLinks]="[{title: 'Vytvoriť nového používateľa', link: '/manage/dashboard/services/users/main/new'}, {title: 'Vytvoriť nové vozidlo', link: '/manage/dashboard/services/vehicles/main/new'}]"
        [illustrationTitle]="'Váš osobný asistent'"
        [illustrationImage]="'../../../../../assets/img/home_assistant.svg'"></app-illustration>
    </div>
    <div class="col-lg-6 mb-4">
      <app-explanation
        [explanationTitle]="'Vítame Vás'"
        [explanationText]="'Toto je manažovacia web stránka pre aplikáciu Blesk. Nájdete tu všetky služby aplikácie ako interné aj externé. Web stránka poskytuje navigáciu pomocou vyhľadávania, grafy z dát aplikácie a mnoho ďalšie.'"></app-explanation>
      <div class="row">
        <div class="col-lg-6 mb-4">
          <app-link
            [linkHref]="'/dashboard/services/users/main'"
            [linkText]="'Otvoriť'"
            [linkTitle]="'Zoznam používateľov'">
          </app-link>
        </div>
        <div class="col-lg-6 mb-4">
          <app-link
            [linkHref]="'/dashboard/services/parcels/main'"
            [linkText]="'Otvoriť'"
            [linkTitle]="'Zoznam balíkov'">
          </app-link>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 mb-4">
          <app-link
            [linkHref]="'/dashboard/services/company/profit/edit/' + profitId"
            [linkText]="'Otvoriť'"
            [linkTitle]="'Nastaviť profit'">
          </app-link>
        </div>
        <div class="col-lg-6 mb-4">
          <app-link
            [linkHref]="'/dashboard/services/company/warehouses'"
            [linkText]="'Otvoriť'"
            [linkTitle]="'Manežovanie skladov'">
          </app-link>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <app-summary
        [summaryData]="summary"
        [summaryTitle]="'Aktuálna preťaženosť'"></app-summary>
    </div>
  </div>
</app-dashboard>
