<div class="row">
  <div class="col-lg-6 mb-4">
    <app-assistent
      [assistantText]="assistent"
      [assistantOptions]="assistentOptions"
      [assistantIllustration]="illustration">
    </app-assistent>
  </div>
  <div class="col-lg-6 mb-4">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">{{formTitle}}</h6>
      </div>
      <div class="card-body with-padding">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="role">
          <div class="form-group">
            <label for="roleName">Názov roli</label>
            <input
              formControlName="name"
              type="text"
              class="form-control"
              id="roleName"
              placeholder="Zadajte názov roli">
          </div>
          <label for="rolePrivilegeId">Privilégia roli</label>
          <div formArrayName="rolePrivileges">
            <div *ngFor="let control of formGroup.get('rolePrivileges')['controls']; let i = index">
              <div [formGroupName]="i">
                <div formGroupName="privileges">
                  <div class="form-group">
                    <div class="form-wrapper">
                      <select
                        [ngClass]="{'form-wrapper-width': !(formGroup.get('rolePrivileges')['controls'].length - 1 == i)}"
                        formControlName="privilegeId"
                        id="rolePrivilegeId"
                        class="form-control">
                        <option value="-1" disabled hidden>Zvoľte si privilégiu</option>
                        <option
                          *ngFor="let privilege of privileges; let i = index"
                          [ngValue]="privilege.privilegeId">{{privilege.name}}
                        </option>
                      </select>
                      <div
                        class="privilege-control"
                        *ngIf="formGroup.get('rolePrivileges')['controls'].length - 1 == i">
                        <button
                          class="privilege-add"
                          (click)="onAddPrivilege()">
                          <i class="fas fa-plus-circle"></i>
                        </button>
                        <button
                          class="privilege-remove"
                          *ngIf="formGroup.get('rolePrivileges')['controls'].length > 1"
                          (click)="onRemovePrivilege()">
                          <i class="fas fa-minus-circle"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button
            [disabled]="!formGroup.get('name').valid"
            appButtonHover
            type="submit"
            class="btn btn-primary">{{formButton}}
          </button>
          <a routerLink="/manage/dashboard/services/accounts/roles" class="btn btn-secondary"
             [state]="{ignoreLoadingBar: true}">Zrušiť a späť</a>
        </form>
        <br>
      </div>
    </div>
  </div>
</div>
<app-modal
  (modalResult)="canDeactivate($event)"
  [modalId]="'roleFormModal'"
  [modalTitle]="title"
  [modalText]="text"
  [modalNegativeButton]="negativeButton"
  [modalPozitiveButton]="pozitiveButton"></app-modal>
