<form class="auth">
  <div class="form-group">
    <input type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Používateľské meno">
  </div>
  <div class="form-group">
    <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Heslo">
  </div>
  <div class="form-group">
    <div class="custom-control custom-checkbox small">
      <input type="checkbox" class="custom-control-input" id="customCheck">
      <label class="custom-control-label" for="customCheck">Zostať prihlásený</label>
    </div>
  </div>
  <button appButtonHover class="btn btn-primary btn-login btn-block">
    Prihlásiť sa
  </button>
</form>
