<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Váš osobný asistent</h6>
  </div>
  <div class="card-body with-padding">
    <div class="text-center">
      <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
           [src]="illustration"
           alt="">
    </div>
    <p>{{text}}</p>
    <p>Ďalšie možnosti v tejto sekcií</p>
    <ul class="list">
      <li
        *ngFor="let option of options; let i = index"
        class="item">
        <a [routerLink]="option.link">
          {{option.title}} &rarr;
        </a>
      </li>
    </ul>
    <br>
  </div>
</div>
