<form [formGroup]="form" (ngSubmit)="onSubmit()" class="reset">
  <div formGroupName="user">
    <div class="form-group">
      <input
        autocomplete="off"
        formControlName="email"
        type="email"
        class="form-control form-control-email"
        id="forget-password"
        aria-describedby="forget-password-help"
        placeholder="Emailová adresa">
    </div>
  </div>
  <button
    [disabled] = "!form.get('user.email').valid"
    appButtonHover
    class="btn btn-primary btn-send btn-block">
    Odoslať
  </button>
</form>
