<div class="row">
  <div class="col-lg-6 mb-4">
    <app-assistent
      [formAssistent]="assistent"
      [formIllustration]="illustration"
      [formAssistentOptions]="assistentOptions">
    </app-assistent>
  </div>
  <div class="col-lg-6 mb-4">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">{{formTitle}}</h6>
      </div>
      <div class="card-body with-padding">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="rating">
          <div class="form-group">
            <label for="reviewDescription">Opis recenzie</label>
            <textarea
              formControlName="description"
              class="form-control"
              id="reviewDescription"
              placeholder="Zadajte opis recenzie" rows="3"></textarea>
          </div>
          <div class="form-group">
            <label for="reviewRating">Vyberte ohodnotenie</label>
            <select
              multiple
              formControlName="rating"
              class="form-control"
              id="reviewRating">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
          <div class="form-group">
            <label for="reviewImage">Nahrajte obrázok</label>
            <input
              type="file"
              accept=".png, .jpg, .jpeg"
              (change)="onBase64Convert($event.target.files)"
              class="form-control"
              id="reviewImage">
          </div>
          <div class="form-group">
            <input
              formControlName="image"
              type="hidden"
              class="form-control">
          </div>
          <div class="form-group">
            <label for="reviewParcelId">Recenzie balíka</label>
            <select
              formControlName="parcelId"
              id="reviewParcelId"
              class="form-control">
              <option value="-1" disabled hidden>Zvoľte si číslo balíka</option>
              <option
                *ngFor="let parcel of parcels; let i = index"
                [ngValue]="parcel.id">{{parcel.id}}
              </option>
            </select>
          </div>
          <button
            [disabled]="!formGroup.get('description').valid || !formGroup.get('rating').valid || !formGroup.get('image').valid || !formGroup.get('parcelId').valid"
            appButtonHover
            type="submit"
            class="btn btn-primary">{{formButton}}
          </button>
          <a routerLink="/dashboard/services/parcels/ratings" class="btn btn-secondary"
             [state]="{ignoreLoadingBar: true}">Zrušiť a späť</a>
        </form>
        <br>
      </div>
    </div>
  </div>
</div>
<app-modal
  (modalResult)="canDeactivate($event)"
  [modalId]="'ratingFormModal'"
  [modalTitle]="title"
  [modalText]="text"
  [modalNegativeButton]="negativeButton"
  [modalPozitiveButton]="pozitiveButton"></app-modal>
