<div id="page-top">
  <div id="wrapper">
    <app-nav
      [navToogle]="toggle">
    </app-nav>
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <app-header
          (onNavEvent)="onToogleResult($event)"
          [navToogle]="toggle">
        </app-header>
        <div class="container-fluid">
          <router-outlet></router-outlet>
          <ng-content></ng-content>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </div>
  <app-modal
    (onModalEvent)="onModalResult($event)"
    [modalTitle]="title"
    [modalText]="text"
    [modalNegativeButton]="negativeButton"
    [modalPozitiveButton]="pozitiveButton"></app-modal>
</div>
