div.card.shadow.mb-4 {
  max-height: unset;
}

div.row div.centered {
  margin: 0 auto;
}

div.d-sm-flex.align-items-center.justify-content-between.mb-4 {
  float: right;
}

@media (max-width: 992px) {
  div.row div.centered {
    margin: 0;
  }
}
