<div class="row">
  <div class="col-lg-12">
    <div class="p-5">
      <div class="text-center">
        <img src="../../../../../assets/img/default-logo-blue.png" title="Company logo" alt="Company logo" class="logo-primary">
        <p class="mb-4">Nespomeniete si na heslo? Získajte opäť prístup k Vášmu účtu. Stačí iba zadať emailovú
          adresu.</p>
      </div>
      <div *ngIf="error && error.message && error.error" class="alert alert-danger" role="alert">
        {{error.message}}
      </div>
      <div *ngIf="recover && recover.message" class="alert alert-success" role="alert">
        {{recover.message}}
      </div>
      <app-reset></app-reset>
      <hr>
      <div class="text-center">
        <a appLinkHover class="small" routerLink="/manage/auth/sign-in">Už máte manažovací účet? Prihláste sa!</a>
      </div>
    </div>
  </div>
</div>
