<ul [ngClass]="toggled ? 'toggled' : ''" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="mx-3">
      <img src="assets/img/default-logo-white.png" title="Company logo" alt="Company logo" class="logo-primary">
    </div>
  </a>
  <hr class="sidebar-divider my-0">
  <li class="nav-item active">
    <a class="nav-link" href="index.html">
      <i class="fas fa-home"></i>
      <span>Domov</span></a>
  </li>
  <hr class="sidebar-divider">
  <div class="sidebar-heading">
    Služby
  </div>
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#users" aria-expanded="true"
       aria-controls="users">
      <i class="fas fa-users"></i>
      <span>Používatelia</span>
    </a>
    <div id="users" class="collapse" aria-labelledby="users" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Možnosti:</h6>
        <a class="collapse-item" href="#">Zoznam</a>
        <a class="collapse-item" href="#">Hľadať</a>
        <a class="collapse-item" href="#">Nový</a>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#shipments"
       aria-expanded="true" aria-controls="shipments">
      <i class="fas fa-shipping-fast"></i>
      <span>Zásielky</span>
    </a>
    <div id="shipments" class="collapse" aria-labelledby="shipments" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Možnosti:</h6>
        <a class="collapse-item" href="#">Zoznam</a>
        <a class="collapse-item" href="#">Hľadať</a>
        <a class="collapse-item" href="#">Nový</a>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#parcels"
       aria-expanded="true" aria-controls="parcels">
      <i class="fas fa-boxes"></i>
      <span>Balíky</span>
    </a>
    <div id="parcels" class="collapse" aria-labelledby="parcels" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Možnosti:</h6>
        <a class="collapse-item" href="#">Zoznam</a>
        <a class="collapse-item" href="#">Hľadať</a>
        <a class="collapse-item" href="#">Nový</a>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#communications"
       aria-expanded="true" aria-controls="communications">
      <i class="fas fa-comments"></i>
      <span>Kommunikácia</span>
    </a>
    <div id="communications" class="collapse" aria-labelledby="communications" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Možnosti:</h6>
        <a class="collapse-item" href="#">Zoznam</a>
        <a class="collapse-item" href="#">Hľadať</a>
        <a class="collapse-item" href="#">Nový</a>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#places"
       aria-expanded="true" aria-controls="places">
      <i class="fas fa-globe"></i>
      <span>Krajiny</span>
    </a>
    <div id="places" class="collapse" aria-labelledby="places" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Možnosti:</h6>
        <a class="collapse-item" href="#">Zoznam</a>
        <a class="collapse-item" href="#">Hľadať</a>
        <a class="collapse-item" href="#">Nový</a>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#warehouses"
       aria-expanded="true" aria-controls="warehouses">
      <i class="fas fa-warehouse"></i>
      <span>Sklady</span>
    </a>
    <div id="warehouses" class="collapse" aria-labelledby="warehouses" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Možnosti:</h6>
        <a class="collapse-item" href="#">Zoznam</a>
        <a class="collapse-item" href="#">Hľadať</a>
        <a class="collapse-item" href="#">Nový</a>
      </div>
    </div>
  </li>
  <hr class="sidebar-divider">
  <div class="sidebar-heading">
    Analýza
  </div>
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#graph"
       aria-expanded="true" aria-controls="graph">
      <i class="fas fa-chart-pie"></i>
      <span>Grafy</span>
    </a>
    <div id="graph" class="collapse" aria-labelledby="graph" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Možnosti:</h6>
        <a class="collapse-item" href="#">Poživatelia</a>
        <a class="collapse-item" href="#">Zásielky</a>
        <a class="collapse-item" href="#">Balíky</a>
        <a class="collapse-item" href="#">Kommunikacia</a>
        <a class="collapse-item" href="#">Krajiny</a>
        <a class="collapse-item" href="#">Sklady</a>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#profit"
       aria-expanded="true" aria-controls="profit">
      <i class="fas fa-money-bill-alt"></i>
      <span>Profit</span>
    </a>
    <div id="profit" class="collapse" aria-labelledby="profit" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Možnosti:</h6>
        <a class="collapse-item" href="#">Aktuálny</a>
        <a class="collapse-item" href="#">Editovať</a>
      </div>
    </div>
  </li>
  <hr class="sidebar-divider">
  <div class="sidebar-heading">
    Aplikácia
  </div>
  <li class="nav-item">
    <a class="nav-link" href="charts.html">
      <i class="fas fa-chart-bar"></i>
      <span>Zipkin</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="charts.html">
      <i class="fas fa-server"></i>
      <span>Eureka</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="charts.html">
      <i class="fab fa-stripe-s"></i>
      <span>Stripe</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="charts.html">
      <i class="fas fa-fire"></i>
      <span>Firebase</span></a>
  </li>
</ul>
