div.card.shadow.mb-4 {
  max-height: unset;
}

div.card-body p {
  text-align: center;
}

p[data-letters]:before {
  content: attr(data-letters);
  display: inline-block;
  font-size: 6em;
  width: 13rem;
  height: 13rem;
  line-height: 12rem;
  text-align: center;
  border-radius: 50%;
  background: #176c9d;
  vertical-align: middle;
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  margin-bottom: 2rem;
  color: white;
}

div.card-body form button.btn.btn-primary {
  margin-top: 1rem;
}

div.card-body form a.btn.btn-secondary {
  margin-top: 1rem;
  float: right;
}

@media (max-width: 768px) {
  p[data-letters]:before {
    font-size: 4em;
    width: 9rem;
    height: 9rem;
    line-height: 8rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 440px) {
  div.card-body form button.btn.btn-primary {
    margin-right: 1rem;
  }

  div.card-body form a.btn.btn-secondary {
    float: none;
  }
}
